In [15]:
import pickle
import pandas as pd

In [28]:
bank_model = pickle.load(open('Bank Customer Model.pkl','rb'))
one_hot = pickle.load(open('Geography Encoding.pkl','rb'))

C:\Users\Sukh-e\anaconda3\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.2.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Sukh-e\anaconda3\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.2.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Sukh-e\anaconda3\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator OneHotEncoder from version 1.2.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [13]:
credit_score = eval(input('Enter your credit score : '))
gender = input('Enter your Gender male or female : ').lower()
age = int(input('Enter your age : '))
tenure = int(input('Enter your tenure : '))
balance = eval(input('Enter your balance : '))
no_of_product = int(input('Enter No of product : '))
has_credit = input('Do you have any credit card ? yes or no : ').lower()
is_active = input('Are you a active member ? yes or no : ').lower()
salary = eval(input('Enter your Salary : '))
geography = input('Enter your region france,germany or spain : ').title()

Enter your credit score : 608
Enter your Gender male or female : male
Enter your age : 41
Enter your tenure : 1
Enter your balance : 83807.86
Enter No of product : 1
Do you have any credit card ? yes or no : no
Are you a active member ? yes or no : yes
Enter your Salary : 112542.58
Enter your region france,germany or spain : spain

In [56]:
user_input = pd.DataFrame([credit_score,gender,age,
                       tenure,balance,no_of_product,has_credit,is_active,
                       salary,geography]).T

In [57]:
user_input.columns = ['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 
                                  'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Geography']

In [58]:
user_input

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography
0,608,male,41,1,83807.86,1,no,yes,112542.58,Spain

In [59]:
user_input['Gender'] = user_input['Gender'].map({'male':0,'female':1})

In [60]:
user_input['HasCrCard'] = user_input['HasCrCard'].map({'yes':1,'no':0})

In [61]:
user_input['IsActiveMember'] = user_input['IsActiveMember'].map({'yes':1,'no':0})

In [63]:
arr = one_hot.transform(user_input[['Geography']]).toarray()

In [65]:
one_hot.categories_

[array(['France', 'Germany', 'Spain'], dtype=object)]

In [66]:
temp_df = pd.DataFrame(arr,columns=['France', 'Germany', 'Spain'],dtype='int')

In [68]:
user_input = pd.concat([user_input,temp_df],axis=1)

In [70]:
user_input.drop('Geography',axis=1,inplace=True)

In [71]:
user_input

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
0,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1

In [73]:
prediction = bank_model.predict(user_input)

In [74]:
if prediction[0]==0:
    print('The Customer will not Exited')
else:
    print('The Customer will Exited')

The Customer will not Exited