In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as plx

In [2]:
books_data = pd.read_csv(r"C:\Users\Sukh-e\Desktop\Classes\Data Science class\NumPY\Python 10\ML\Books_data.csv")

In [3]:
books_data.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1

In [4]:
books_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52478 entries, 0 to 52477
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bookId            52478 non-null  object
 1   title             52478 non-null  object
 2   series            23470 non-null  object
 3   author            52478 non-null  object
 4   rating            52478 non-null  float64
 5   description       51140 non-null  object
 6   language          48672 non-null  object
 7   isbn              52478 non-null  object
 8   genres            52478 non-null  object
 9   characters        52478 non-null  object
 10  bookFormat        51005 non-null  object
 11  edition           4955 non-null   object
 12  pages             50131 non-null  object
 13  publisher         48782 non-null  object
 14  publishDate       51598 non-null  object
 15  firstPublishDate  31152 non-null  object
 16  awards            52478 non-null  object
 17  numRatings        52478 non-null  int64
 18  ratingsByStars    52478 non-null  object
 19  likedPercent      51856 non-null  float64
 20  setting           52478 non-null  object
 21  coverImg          51873 non-null  object
 22  bbeScore          52478 non-null  int64
 23  bbeVotes          52478 non-null  int64
 24  price             38113 non-null  object
dtypes: float64(2), int64(3), object(20)
memory usage: 10.0+ MB

In [5]:
books_data.isnull().sum()

bookId                  0
title                   0
series              29008
author                  0
rating                  0
description          1338
language             3806
isbn                    0
genres                  0
characters              0
bookFormat           1473
edition             47523
pages                2347
publisher            3696
publishDate           880
firstPublishDate    21326
awards                  0
numRatings              0
ratingsByStars          0
likedPercent          622
setting                 0
coverImg              605
bbeScore                0
bbeVotes                0
price               14365
dtype: int64

In [6]:
books_data.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price'],
      dtype='object')

In [7]:
books_data = books_data[['title','author','description','language','genres','pages','awards','likedPercent']]

In [8]:
books_data.head()

,title,author,description,language,genres,pages,awards,likedPercent
0,The Hunger Games,Suzanne Collins,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,['Locus Award Nominee for Best Young Adult Boo...,96.0
1,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré (Illustrator)",There is a door at the end of a silent corrido...,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,['Bram Stoker Award for Works for Young Reader...,98.0
2,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,English,"['Classics', 'Fiction', 'Historical Fiction', ...",324,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",95.0
3,Pride and Prejudice,"Jane Austen, Anna Quindlen (Introduction)",Alternate cover edition of ISBN 9780679783268S...,English,"['Classics', 'Fiction', 'Romance', 'Historical...",279,[],94.0
4,Twilight,Stephenie Meyer,About three things I was absolutely positive.\...,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,"['Georgia Peach Book Award (2007)', 'Buxtehude...",78.0

In [9]:
books_data.dropna(inplace=True)
books_data.reset_index(drop=True,inplace=True)

In [10]:
books_data.isnull().sum()

title           0
author          0
description     0
language        0
genres          0
pages           0
awards          0
likedPercent    0
dtype: int64

In [11]:
books_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45895 entries, 0 to 45894
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         45895 non-null  object
 1   author        45895 non-null  object
 2   description   45895 non-null  object
 3   language      45895 non-null  object
 4   genres        45895 non-null  object
 5   pages         45895 non-null  object
 6   awards        45895 non-null  object
 7   likedPercent  45895 non-null  float64
dtypes: float64(1), object(7)
memory usage: 2.8+ MB

In [12]:
def set_author(authors):
    temp = []
    authors = authors.split(',')
    count = 1
    for author in authors:
        temp.append(author.replace(' ',''))
        if count==2:
            break
        count+=1
    return temp

In [13]:
set_author('Charlotte Brontë, Michael Mason (Editor), Barnett Freedman (Illustrator)')

['CharlotteBrontë', 'MichaelMason(Editor)']

In [14]:
books_data['author'][18]

'Charlotte Brontë, Michael Mason (Editor), Barnett Freedman (Illustrator)'

In [15]:
books_data['author'] = books_data['author'].apply(set_author)

In [16]:
def set_description(description):
        description = description.replace('.','')
        description = description.replace(',','')
        description = description.replace('--','')
        return description.lower().split()

In [17]:
books_data['description'] = books_data['description'].apply(set_description)

In [18]:
books_data['description'][0]

['winning',
 'means',
 'fame',
 'and',
 'fortunelosing',
 'means',
 'certain',
 'deaththe',
 'hunger',
 'games',
 'have',
 'begun',
 'in',
 'the',
 'ruins',
 'of',
 'a',
 'place',
 'once',
 'known',
 'as',
 'north',
 'america',
 'lies',
 'the',
 'nation',
 'of',
 'panem',
 'a',
 'shining',
 'capitol',
 'surrounded',
 'by',
 'twelve',
 'outlying',
 'districts',
 'the',
 'capitol',
 'is',
 'harsh',
 'and',
 'cruel',
 'and',
 'keeps',
 'the',
 'districts',
 'in',
 'line',
 'by',
 'forcing',
 'them',
 'all',
 'to',
 'send',
 'one',
 'boy',
 'and',
 'once',
 'girl',
 'between',
 'the',
 'ages',
 'of',
 'twelve',
 'and',
 'eighteen',
 'to',
 'participate',
 'in',
 'the',
 'annual',
 'hunger',
 'games',
 'a',
 'fight',
 'to',
 'the',
 'death',
 'on',
 'live',
 'tvsixteen-year-old',
 'katniss',
 'everdeen',
 'regards',
 'it',
 'as',
 'a',
 'death',
 'sentence',
 'when',
 'she',
 'steps',
 'forward',
 'to',
 'take',
 'her',
 "sister's",
 'place',
 'in',
 'the',
 'games',
 'but',
 'katniss',
 'has',
 'been',
 'close',
 'to',
 'dead',
 'before—and',
 'survival',
 'for',
 'her',
 'is',
 'second',
 'nature',
 'without',
 'really',
 'meaning',
 'to',
 'she',
 'becomes',
 'a',
 'contender',
 'but',
 'if',
 'she',
 'is',
 'to',
 'win',
 'she',
 'will',
 'have',
 'to',
 'start',
 'making',
 'choices',
 'that',
 'weight',
 'survival',
 'against',
 'humanity',
 'and',
 'life',
 'against',
 'love']

In [19]:
def set_language(lang):
    lang = lang.replace(' ','')
    if ';' in lang:
        if ',' in lang:
            temp = lang.split(',')
            return [temp[0]]+temp[1].split(';')
        else:
            return lang.split(';')
    else:
        return [lang]

In [20]:
['Bokmål','Norwegian;NorwegianBokmål']

['Bokmål', 'Norwegian;NorwegianBokmål']

In [21]:
for i in books_data['language'].apply(set_language):
    if len(i)>1:
        print(i)

['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Panjabi', 'Punjabi']
['Catalan', 'Valencian']
['Filipino', 'Pilipino']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Catalan', 'Valencian']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Filipino', 'Pilipino']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Bokmål', 'Norwegian', 'NorwegianBokmål']
['Bokmål', 'Norwegian', 'NorwegianBokmål']

In [22]:
books_data['language'] = books_data['language'].apply(set_language)

In [23]:
def set_genres(genres):
    genres = eval(genres)
    temp = []
    for genre in genres:
        temp.append(genre.replace(' ',''))
    return temp

In [24]:
books_data['genres'] = books_data['genres'].apply(set_genres)

In [25]:
def set_awards(awards):
    awards = eval(awards)
    temp = []
    for award in awards:
        temp.append(award.replace(' ',''))
    return temp

In [26]:
books_data['awards'] = books_data['awards'].apply(set_awards)

In [27]:
def set_pages(pages):
    try:
        return [eval(pages)]
    except:
        return [1]

In [28]:
books_data['pages'] = books_data['pages'].apply(set_pages)

In [29]:
books_data['likedPercent'] = books_data['likedPercent'].apply(lambda liked : [liked])

In [30]:
books_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45895 entries, 0 to 45894
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         45895 non-null  object
 1   author        45895 non-null  object
 2   description   45895 non-null  object
 3   language      45895 non-null  object
 4   genres        45895 non-null  object
 5   pages         45895 non-null  object
 6   awards        45895 non-null  object
 7   likedPercent  45895 non-null  object
dtypes: object(8)
memory usage: 2.8+ MB

In [31]:
books_data.head()

,title,author,description,language,genres,pages,awards,likedPercent
0,The Hunger Games,[SuzanneCollins],"[winning, means, fame, and, fortunelosing, mea...",[English],"[YoungAdult, Fiction, Dystopia, Fantasy, Scien...",[374],"[LocusAwardNomineeforBestYoungAdultBook(2009),...",[96.0]
1,Harry Potter and the Order of the Phoenix,"[J.K.Rowling, MaryGrandPré(Illustrator)]","[there, is, a, door, at, the, end, of, a, sile...",[English],"[Fantasy, YoungAdult, Fiction, Magic, Children...",[870],"[BramStokerAwardforWorksforYoungReaders(2003),...",[98.0]
2,To Kill a Mockingbird,[HarperLee],"[the, unforgettable, novel, of, a, childhood, ...",[English],"[Classics, Fiction, HistoricalFiction, School,...",[324],"[PulitzerPrizeforFiction(1961), AudieAwardforC...",[95.0]
3,Pride and Prejudice,"[JaneAusten, AnnaQuindlen(Introduction)]","[alternate, cover, edition, of, isbn, 97806797...",[English],"[Classics, Fiction, Romance, HistoricalFiction...",[279],[],[94.0]
4,Twilight,[StephenieMeyer],"[about, three, things, i, was, absolutely, pos...",[English],"[YoungAdult, Fantasy, Romance, Vampires, Ficti...",[501],"[GeorgiaPeachBookAward(2007), BuxtehuderBulle(...",[78.0]

In [32]:
books_data['Tag'] = books_data['author'] + books_data['description'] + books_data['language'] + books_data['genres'] + books_data['pages'] + books_data['awards'] + books_data['likedPercent']

In [33]:
books = books_data[['title','Tag']]

In [34]:
books.head()

,title,Tag
0,The Hunger Games,"[SuzanneCollins, winning, means, fame, and, fo..."
1,Harry Potter and the Order of the Phoenix,"[J.K.Rowling, MaryGrandPré(Illustrator), there..."
2,To Kill a Mockingbird,"[HarperLee, the, unforgettable, novel, of, a, ..."
3,Pride and Prejudice,"[JaneAusten, AnnaQuindlen(Introduction), alter..."
4,Twilight,"[StephenieMeyer, about, three, things, i, was,..."

In [35]:
# love
# loving 
# loved

In [36]:
from nltk.stem import PorterStemmer

porter_stemmer = PorterStemmer()

In [37]:
porter_stemmer.stem('PLAY')

'play'

In [38]:
def stem_words(tag):
    temp = []
    for word in tag:
        word = porter_stemmer.stem(str(word))
        temp.append(word)
    return temp

In [39]:
books['Tag'] = books['Tag'].apply(stem_words)

C:\Users\Sukh-e\AppData\Local\Temp\ipykernel_17768\4016483297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books['Tag'] = books['Tag'].apply(stem_words)

In [40]:
books['Tag'] = books['Tag'].apply(lambda tag: ' '.join(tag))

C:\Users\Sukh-e\AppData\Local\Temp\ipykernel_17768\754635690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books['Tag'] = books['Tag'].apply(lambda tag: ' '.join(tag))

In [41]:
books.head()

,title,Tag
0,The Hunger Games,suzannecollin win mean fame and fortunelos mea...
1,Harry Potter and the Order of the Phoenix,j.k.rowl marygrandpré(illustrator) there is a ...
2,To Kill a Mockingbird,harperle the unforgett novel of a childhood in...
3,Pride and Prejudice,janeausten annaquindlen(introduction) altern c...
4,Twilight,stepheniemey about three thing i wa absolut po...

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=5000,stop_words='english')

In [43]:
tfidf.fit(books['Tag'])

TfidfVectorizer(max_features=5000, stop_words='english')

In [44]:
books_vectors = tfidf.transform(books['Tag']).toarray()

In [45]:
books_vectors.shape

(45895, 5000)

In [46]:
from sklearn.metrics.pairwise import cosine_similarity

similar_books = cosine_similarity(books_vectors)

In [47]:
similar_books[0]

array([1.        , 0.00942678, 0.02789539, ..., 0.0615217 , 0.0104853 ,
       0.02937531])

In [48]:
# Example :
lst = [34,64,12,78]
lst = list(enumerate(lst))
sorted(lst,reverse=True,key=lambda x:x[1])

[(3, 78), (1, 64), (0, 34), (2, 12)]

In [49]:
def recommend(book_name):
    index = books[books['title']==book_name].index
    similar_books_with_index = list(enumerate(similar_books[index][0]))
    our_books = sorted(similar_books_with_index,reverse=True,key=lambda x:x[1])[1:6]
    for index,_ in our_books:
        print(books.iloc[index]['title'])

In [52]:
recommend('Twilight')

Harry Potter and the Deathly Hallows
The Lightning Thief
The Book Thief
The Arrival
Elijah of Buxton

In [53]:
import pickle as pk

In [54]:
pk.dump(similar_books,open('Similar_books.pkl','wb'))

MemoryError: